.register-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background-size: cover;
  background-image: url('/pic/bc1.jpg');
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-box{
  width: 150px;
  height: 115px;
  margin-top: -65px;
  padding-bottom: 20px;
}
.logo-box>img{
  width: 100%;
  height: 100%;
}
.register-box{
  width: 500px;
  height: 520px;
  background-color: rgba(240, 240, 240, 0.6);
  border-radius: 10px;
}
.register-box h1 {
  font-size: 40px;
  color: #838383;
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
}
.demo-ruleForm{
  width: 85%;
  margin-left: 4%;
}
.between{
  margin: 20px;
}
.el-input__inner{
  background-color: rgba(255, 255, 255, 0.6);
}
.btn{
  width: 85%;
  text-align: center;
}
.scale{
  height: 80px;
  transition: all .5s;
}
.goDown{
  color: #272727 !important;
  transform: translateY(-12px);
  transition: transform .6s , color 2s ;
}
.register-box .status{
  position: absolute;
  top: 36px;
  right: 0;
  display: inline-block;
  width: 185px;
  height: 40px;
  font-size: 13px;
  margin-top: 10px;
  vertical-align: middle;
  line-height: 20px;
  color: #8b6e5d;
}
.register-box .error{
  padding-left: 6px;
  text-align: center;
  color: #cc0000;
}